header, section, footer, aside, nav, article, hgroup{
    display: block;
}

body{
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background: url(images/2.gif);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}